@using EB.ISCS.Admin.Models
<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/ViewScript/task/tasksingleinfo/edit.js"></script>
    <meta charset="utf-8" />
    <title>表单预览</title>
</head>
<body>
    <div class="container" ng-app="TaskSingleInfoEditApp" ng-controller="TaskSingleInfoEditController" ng-init="onload(@ViewBag.Id)">
        <form class="form-horizontal" role="form" w5c-form-validate="" novalidate name="validateForm">
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">任务名称 @Html.RequiredFlag()</label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" ng-model="single.Name" name="single_Name" maxlength="20" ng-required="true" />
                        </div>
                        <label class="col-sm-2 control-label">任务分类</label>
                        <div class="col-md-4">
                            <label class="radio-inline">
                                <input name="ExecuteType" type="radio" value="0" ng-model="single.ExecuteType" ng-checked="true">自理型任务
                            </label>
                            <label class="radio-inline">
                                <input name="ExecuteType" type="radio" value="1" ng-model="single.ExecuteType">指派型任务
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属部门 @Html.RequiredFlag()</label>
                        <div class="col-md-4">
                            <select id="depId" class="form-control easyui-combotree" name="depId" ng-model="single.DepId" style="width: 293px; height: 35px;" ng-required="true"></select>
                        </div>
                        <label class="col-sm-2 control-label">是否冻结</label>
                        <div class="col-md-4">
                            <label class="radio-inline">
                                <input name="UserIsFreeze" type="radio" value="0" ng-model="single.Enabled" ng-checked="true">启用
                            </label>
                            <label class="radio-inline">
                                <input name="UserIsFreeze" type="radio" value="1" ng-model="single.Enabled">冻结
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属业务 @Html.RequiredFlag()</label>
                        <div class="col-md-4">
                            <select id="dicType" class="form-control easyui-combotree" name="DicTypeId" ng-model="single.DicTypeId" style="width: 293px; height: 35px;" ng-required="true"></select>
                        </div>
                        <label class="col-sm-2 control-label">是否启用有效期</label>
                        <div class="col-md-4">
                            <label class="radio-inline">
                                <input name="IsExpireDate" ng-checked="true" type="radio" value="1" ng-model="single.UseTimeState">是
                            </label>
                            <label class="radio-inline">
                                <input name="IsExpireDate" type="radio" value="0" ng-model="single.UseTimeState">否
                            </label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">有效期开始</label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" id="forms_UseStartTime" ng-model="single.UseStartTime" name="single_UseStartTime"
                                   maxlength="10" readonly />
                        </div>
                        <label class="col-sm-2 control-label">有效期截止</label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" id="forms_UseStopTime" ng-model="single.UseStopTime" name="single_UseStopTime"
                                   maxlength="10" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">编码</label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" id="single_Code" ng-model="single.Code" name="forms_Code" maxlength="10" min="{{fo.Code}}" />
                        </div>
                        <label class="col-sm-2 control-label">版本</label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" ng-model="single.Version" name="single_Version" maxlength="10" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <textarea ng-model="single.Remark" class="form-control" style="height:80px;" maxlength="4000"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_Save" class="btn btn-primary" w5c-form-submit="onSave()">保存</button>
                <button id="btn_return" class="btn btn-default" ng-click="onclose()">返回</button>
            </div>
        </form>
    </div>
</body>
</html>
