<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/ViewScript/project/businessproject/editTask.js"></script>
</head>
<body>
    <div ng-app="App" ng-controller="Controller" style="margin: 10px 0px; padding: 5px;" ng-init="onload(@ViewBag.Id)">
        <div style="margin-bottom: 10px;">
            <div class="btn-group" role="group" aria-label="...">
                <button id="btn_add" class="btn btn-default" data-permisson="actionbutton">新增</button>
                <button id="btn_edit_order" class="btn btn-default" data-permisson="actionbutton">编辑顺序</button>
                <button id="btn_del" class="btn btn-default" data-permisson="actionbutton">删除</button>
                <button id="btn_refresh" class="btn btn-default" data-permisson="actionbutton">刷新</button>
            </div>
            <input type="hidden" name="MenuId" id="MenuId" value="@ViewBag.MenuId" />
            <input type="hidden" id="hidId" value="@ViewBag.Id" />
        </div>
        <table id="jqGrid"></table>
        @*<div id="jqGridPager"></div>*@

        <div style="display:none" id="divSearch">
            <form class="form-horizontal" role="form" id="search_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">程序名称</label>
                        <div class="col-sm-4">
                            <input type="text" name="Name" class="form-control" id="RuleName" placeholder="程序名称">
                        </div>
                        <label class="col-sm-2 control-label" for="DicTypeId">程序分类</label>
                        <div class="col-sm-4">
                            <select id="DicTypeId" class="form-control" name="DicTypeId" ng-model="DicTypeId" ng-options="x.DetailNumber as x.DetailName for x in ruleTypes" ng-required="false">
                                <option value="">=== 全部 ===</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>清空</button>
                    <button type="button" id="btn_search" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
